body{
color:white;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
background-color: grey;"

}
h1{
    color:gold;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
background-image:;
}
a{
color:rgb(33, 41, 188);
background-color:yellow;
}
a:hover{
color:blueviolet;
background-color:cadetblue;
}
ul> li{
font-weight: bold;
}
ul li:hover{
    color:gold;
}

